@import "tailwindcss";

/* Estilos base */
body {
  background-color: #ffffff; /* Fondo blanco */
  color: #ffffff;            /* Texto negro */
  font-family: Arial, Helvetica, sans-serif;
}

/* Opcional: asegúrate que html también esté bien */
html {
  background-color: #ffffff;
  color: #ffffff;
}
